@model IEnumerable<Barfi.Models.Bar>

@{
    ViewBag.Title = "BarFi";
}

<div class="jumbotron">
    <h1>BarFi.info</h1>
    <p class="lead">Coming Soon</p>
    <p>Lookup local bars with WiFi in your area so you can achieve Balmer Peak performance.</p>
</div>

<div class="row">
    <div class="col-md-4">
        There are @Model.Count() Bars in the dataset.
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Planned Features</h2>
        <p>
            Integrate with Google API to find nearby bars
        </p>
    </div>
    <div class="col-md-4">
        <h2>Crowdsource Intel!</h2>
        <p>Help improve BarFi, do your part and add bars with good WiFi.</p>
    </div>
</div>