@{
    ViewBag.Title = "BarFi";
}

<div class="jumbotron">
    <h1>BarFi.info</h1>
    <p class="lead">Coming Soon!</p>
    <p>Lookup local bars with WiFi in your area so you can achieve Balmer Peak performance! Rule your scrum while drinking rum!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Planned Features</h2>
        <p>
            Integrate with Google API to find nearby bars
        </p>
    </div>
    <div class="col-md-4">
        <h2>Crowdsource Intel!</h2>
        <p>Help improve BarFi, do your part and add bars with good WiFi.</p>
    </div>
    <div class="col-md-4">
        <h2>Shame pretenders</h2>
        <p>No bars in your bar? That's <em>no me gusta</em>, incentivize bundling good WiFi with high-priced drinks!</p>
    </div>
</div>